/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
    background-color: #8B8C89;
    margin: 40px auto;
    max-width: 900px;
    line-height:1.6;
    font-size: 18px;
    padding:10px;
}

#pictureofme {
    max-width: 350px;
    float: center;
    border-radius: 0px;
    border: 3px solid #274C77;
    margin-right: 20px;
}

h1, h2, h3 {
  line-height:1.2;
}

